$white: #ffffff;
$darker-gray: #727272;
$dark-gray: #cbcbcb;
$gray: #e5e5e5;
$light-gray: #f5f5f5;
$lighter-gray: #cccccc;
$lightest-gray: #dbdbdb;
$transparent-gray: #cbcbcb78;
$pink: #ffcaca;
$light-pink: #ffdbe1;
$lightest-pink: #f9e8eb;
$turquoise: #00db9e;
$light-turquoise: #06f1b0;
$transparent-turquoise: #00db9e4f;

/* -------------- */
/* --- Colors --- */
/* -------------- */

//General colors
$color-main: $dark-gray;
$color-main-light: $pink;
$color-main-lighter: $light-gray;

//Toggle colors
$isActiveToggleSwitch: $turquoise;
$isActiveToggleSwitchKnob: $light-pink;
$isActiveHoverToggleSwitch: $light-turquoise;
$isActiveFocusToggleSwitch: $transparent-turquoise;

$toggleSwitch: $dark-gray;
$toggleSwitchKnob: $light-pink;
$focusToggleSwitch: $transparent-gray;
$hoverToggleSwitch: $lightest-gray;

$disabledToggleSwitch: $gray;
$disabledToggleSwitchKnob: $light-gray;

//SearchBar colors
$searchBarFocus: #ffebeb;
$searchBarIsSelected: $light-pink;
$searhBarIcon: $dark-gray;
$searchBarLabelColor: $darker-gray;
$searchBarItemIdColor: $dark-gray;
$searchBarBorderColor: $lighter-gray;
// $color-main-text: var(--main-color-text);
// $color-main-dark: var(--main-color-dark);
// $color-main-darker: var(--main-color--darker);
// $color-main-lightest: var(--main-color-lightest);

// $color-sec: $yellow;
// $color-sec-text: $text-black;
// $color-sec-dark: darken($color-sec, 20%);
// $color-sec-darker: darken($color-sec, 40%);
// $color-sec-light: lighten($color-sec, 15%);
// $color-sec-lighter: lighten($color-sec, 30%);

// $color-status-success: $green;
// $color-status-error: $red;
