@import '../../../assets/styles/index.scss';

.map {
  width: 100%;
  height: calc(100vh - 52px);
  overflow: hidden;

  canvas {
    width: 100%;
  }
}

.pin {
  cursor: pointer;
  fill: #d00;
  stroke: none;
  width: fit-content;
}
