@import "../../../assets/styles/index.scss";

.mainPanelItem {
  background: $color-main-lighter;
  border-radius: $border-radius;
  padding: 20px;
  margin-bottom: 15px;
}

.mainTitle,
.title {
  padding-bottom: $textGutterY;
}

.mainTitle {
  font-size: $mainTitleSize;
  font-weight: 600;
}

.title {
  font-size: $titleSize;
}

.subtitle {
  font-size: $subTitleSize;
}