@import "assets/styles/index.scss";

.filterItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.icon {
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}

.text {
  flex-grow: 1;
  text-align: left;
  padding-left: 20px;
}

// .toggleIcon {
// }
