@import '../../../assets/styles/index.scss';

.body {
  position: relative;
  display: flex;
  flex: 1;
  width: 100%;
  background: $color-main-lighter;
}

.sidePanel {
  position: absolute;
  display: flex;
  top: 30px;
  bottom: 30px;
  left: 30px;
}
