@import "../../../assets/styles/index.scss";

.mainPanel {
  box-sizing: border-box;
  background: $color-main-light;
  width: 415px;
  height: 100%;
  padding: $gutterX;
  border-radius: $border-radius;
  overflow: auto;
}