@import "assets/styles/index.scss";

.filterPanel {
  display: flex;
  flex-direction: column;
}

.mainTitle,
.title {
  padding-bottom: $textGutterY;
}

.mainTitle {
  font-size: $mainTitleSize;
  font-weight: 600;
}

.title {
  font-size: $titleSize;
}

.subtitle {
  font-size: $subTitleSize;
}