@import "../../../assets/styles/index.scss";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  padding: 0 30px;
  width: 100%;
  min-height: 52px;
  box-sizing: border-box;
  background: $color-main;
}

.title {
  display: flex;
  align-self: center;
}

.icon {
  font-size: 25px;
}

.text {
  padding: 0 20px;
  font-size: 26px;
}

.search {
  align-self: center;
}

